# Node dependencies
node_modules/

# Secret Environment Variables
.env

# WhatsApp Web JS local folders (Prevents uploading heavy Chrome data)
.wwebjs_auth/
.wwebjs_cache/

# NPM logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Windows/Mac system files
.DS_Store
Thumbs.db